@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

* {
    color: gray;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior:smooth;
}

:root {
    --border: gray;
    --text: rgb(209, 205, 205);
}

/**nav**/
.navbar {
    display: flex;
    background-color: rgb(13, 25, 35);
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    border-bottom: 2px solid rgb(9, 36, 59);
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar img {
    width: 30%;
    border-radius: 50%;
    border: 0.5px solid var(--border);
    cursor: pointer;
}
.navlist {
    width: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navlist li {
    list-style: none;
    display: inline-block;
    position: relative;
}
.navlist li a {
    text-decoration: none;
    transition: 0.6s;
    font-family: 'Ubuntu', sans-serif;
}
.navlist li a:hover {
    color: rgb(188, 183, 183);
}

/**navright**/
.rightnav {

    width: 50%;
    text-align: right;
    padding: 0 25px;
}

#search {
    padding: 4px;
    border: 0.3px solid var(--border);
    border-radius: 5px;
    background: rgba(19, 35, 48, 0.961);
    color: var(--text);
    vertical-align: middle;
    text-align: center;

}


/**main**/
main {
    background: linear-gradient(rgb(22, 23, 24), rgb(3, 33, 61));
    min-height: 100vh;
    max-height: fit-content;

}

/**first section**/

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 75%;

}

.firstsection {
    height: 75vh;
}

.firsthalf {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-big {
    font-size: 1.5rem;
}

.sechondhalf {
    width: 30%;
}

.sechondhalf img {
    width: 70%;
    border: 2px solid var(--border);
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-small {
    font-size: 0.9rem;
}

.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 0.3px solid var(--border);
    border-radius: 8px;
    background: none;
    color: var(--text);
    cursor: pointer;

    font-family: 'Ubuntu', sans-serif;
}

.btn-sm {
    padding: 1px 9px;
    vertical-align: middle;
    background: rgba(19, 35, 48, 0.961);
}

/**sechond section**/
.section {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 80%;
    margin: auto;
    margin-bottom: 120px;
    font-family: 'Ubuntu', sans-serif;
}
.section-none{
    margin-bottom:0;
}
.paras {
    padding: 0 18px;
    margin-top: 2px;
}

.section-left {
    flex-direction: row-reverse;
}

.sectionsubtag {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thumbnil img {
    border: 2px solid var(--border);
    border-radius: 25px;
    margin-top: 10px;
}

.contact {
    background: rgb(9 21 29 / 20%);
    margin-top: 30px;
    padding: 30px 0;


}

.text-advance {
    text-align: center;
    padding: 14px;
    font-family: 'Ubuntu', sans-serif;
}

.form {
    max-width: 300px;
    max-height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.form input {
    width: 100%;
    border: 0.5px solid var(--border);
    border-radius: 6px;
    margin: 10px 0;
    padding: 5px 3px;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(19, 35, 48, 0.356);

}

.btn-dark {
    color: var(--text);
}



.form textarea {
    background-color: rgba(19, 35, 48, 0.356);
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    border-radius: 5px;

}

.text-footer {
    text-align: center;
    padding: 14px;
    font-family: 'Ubuntu', sans-serif;

}

.text-footer {
    background-color: rgba(13, 25, 35, 0.99);
    color: var(--color);
}

.burger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 7px;
    display: none;
}

.line {
    width: 19px;
    height: 1px;
    margin: 3px 3px;
    background-color: rgb(113, 109, 109);
}
.takeup{
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: 0.5px solid gray;
    position: absolute;
    right: 15px;
    rotate:270deg;
}
.takeup a{
    text-decoration: none;
}
